.oscuro{ 
    background-color: #1f1f1f; 
    color: #f1eded; 
}

h1 {

    text-transform: uppercase;
    text-align: center;
   
    margin-left: -180px;
   margin-right: -250px;
}
.michitema {
    max-width: 10%;
 max-height: 10%;
 margin-left: 550px;
}